USE [master]
GO
/****** Object:  Database [GestaoFrotasDB]    Script Date: 02/01/2026 18:35:42 ******/
CREATE DATABASE [GestaoFrotasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestaoFrotasDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestaoFrotasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestaoFrotasDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestaoFrotasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestaoFrotasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestaoFrotasDB]
GO
/****** Object:  Table [dbo].[abastecimentos]    Script Date: 02/01/2026 18:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abastecimentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[viatura_id] [int] NULL,
	[fornecedor_id] [int] NULL,
	[tipo_combustivel_id] [int] NULL,
	[litros] [decimal](10, 2) NULL,
	[custo_total] [decimal](10, 2) NULL,
	[quilometragem_momento] [int] NULL,
	[data_abastecimento] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auditoria_acessos]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditoria_acessos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[utilizador_id] [int] NULL,
	[acao] [varchar](200) NULL,
	[data_hora] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bases_militares]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bases_militares](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[localizacao] [varchar](100) NULL,
	[codigo] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documentos_viatura]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documentos_viatura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[viatura_id] [int] NULL,
	[tipo_documento_id] [int] NULL,
	[numero] [varchar](50) NULL,
	[data_validade] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fornecedores_combustivel]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fornecedores_combustivel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[nif] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manutencoes]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manutencoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[viatura_id] [int] NULL,
	[oficina_id] [int] NULL,
	[descricao] [varchar](max) NULL,
	[custo] [decimal](10, 2) NULL,
	[data_inicio] [datetime] NULL,
	[data_fim] [datetime] NULL,
	[tipo] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[militares]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[militares](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nip] [varchar](20) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[patente_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[missoes]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[missoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_missao] [varchar](50) NULL,
	[data_inicio] [datetime] NULL,
	[data_fim] [datetime] NULL,
	[local] [varchar](200) NULL,
	[objetivo] [varchar](max) NULL,
	[oficial_responsavel_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ocorrencias]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocorrencias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[viatura_id] [int] NULL,
	[missao_id] [int] NULL,
	[descricao] [varchar](max) NULL,
	[gravidade] [varchar](20) NULL,
	[data_ocorrencia] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oficinas]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oficinas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[localizacao] [varchar](100) NULL,
	[contacto] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patentes]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patentes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[grau_ordem] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfis]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_combustivel]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_combustivel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_documento]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_documento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_viatura]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_viatura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[descricao] [varchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utilizadores]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilizadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[perfil_id] [int] NULL,
	[ativo] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[viaturas]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[viaturas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[matricula] [varchar](20) NOT NULL,
	[marca] [varchar](50) NULL,
	[modelo] [varchar](50) NULL,
	[tipo_viatura_id] [int] NULL,
	[base_id] [int] NULL,
	[estado] [varchar](20) NULL,
	[quilometragem] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[viaturas_missao]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[viaturas_missao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[missao_id] [int] NULL,
	[viatura_id] [int] NULL,
	[condutor_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bases_militares] ON 

INSERT [dbo].[bases_militares] ([id], [nome], [localizacao], [codigo], [created_at]) VALUES (1, N'Base Aérea nº11', NULL, N'BA11', CAST(N'2026-01-02T16:23:15.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[bases_militares] OFF
GO
SET IDENTITY_INSERT [dbo].[missoes] ON 

INSERT [dbo].[missoes] ([id], [codigo_missao], [data_inicio], [data_fim], [local], [objetivo], [oficial_responsavel_id], [created_at]) VALUES (1, NULL, CAST(N'2026-01-02T17:33:58.870' AS DateTime), NULL, N'Angola', N'Conquistara Angola', NULL, CAST(N'2026-01-02T17:33:58.870' AS DateTime))
SET IDENTITY_INSERT [dbo].[missoes] OFF
GO
SET IDENTITY_INSERT [dbo].[ocorrencias] ON 

INSERT [dbo].[ocorrencias] ([id], [viatura_id], [missao_id], [descricao], [gravidade], [data_ocorrencia], [created_at]) VALUES (1, 1, NULL, N'Bateu contra um poste', N'Alta', CAST(N'2026-01-02T17:34:42.050' AS DateTime), CAST(N'2026-01-02T17:34:42.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[ocorrencias] OFF
GO
SET IDENTITY_INSERT [dbo].[patentes] ON 

INSERT [dbo].[patentes] ([id], [nome], [grau_ordem], [created_at]) VALUES (1, N'Soldado', 1, CAST(N'2026-01-02T16:23:15.487' AS DateTime))
INSERT [dbo].[patentes] ([id], [nome], [grau_ordem], [created_at]) VALUES (2, N'Sargento', 5, CAST(N'2026-01-02T16:23:15.487' AS DateTime))
INSERT [dbo].[patentes] ([id], [nome], [grau_ordem], [created_at]) VALUES (3, N'Capitão', 10, CAST(N'2026-01-02T16:23:15.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[patentes] OFF
GO
SET IDENTITY_INSERT [dbo].[perfis] ON 

INSERT [dbo].[perfis] ([id], [nome], [created_at]) VALUES (1, N'Administrador', CAST(N'2026-01-02T16:23:15.480' AS DateTime))
INSERT [dbo].[perfis] ([id], [nome], [created_at]) VALUES (2, N'Oficial', CAST(N'2026-01-02T16:23:15.480' AS DateTime))
INSERT [dbo].[perfis] ([id], [nome], [created_at]) VALUES (3, N'Condutor', CAST(N'2026-01-02T16:23:15.480' AS DateTime))
SET IDENTITY_INSERT [dbo].[perfis] OFF
GO
SET IDENTITY_INSERT [dbo].[tipos_viatura] ON 

INSERT [dbo].[tipos_viatura] ([id], [nome], [descricao], [created_at]) VALUES (1, N'Ligeiro Passageiros', NULL, CAST(N'2026-01-02T16:23:15.483' AS DateTime))
INSERT [dbo].[tipos_viatura] ([id], [nome], [descricao], [created_at]) VALUES (2, N'Pesado Mercadorias', NULL, CAST(N'2026-01-02T16:23:15.483' AS DateTime))
INSERT [dbo].[tipos_viatura] ([id], [nome], [descricao], [created_at]) VALUES (3, N'Tático', NULL, CAST(N'2026-01-02T16:23:15.483' AS DateTime))
SET IDENTITY_INSERT [dbo].[tipos_viatura] OFF
GO
SET IDENTITY_INSERT [dbo].[utilizadores] ON 

INSERT [dbo].[utilizadores] ([id], [nome], [email], [password_hash], [perfil_id], [ativo], [created_at]) VALUES (1, N'Admin', N'admin@mil.pt', N'12345', 1, 1, CAST(N'2026-01-02T16:23:15.483' AS DateTime))
SET IDENTITY_INSERT [dbo].[utilizadores] OFF
GO
SET IDENTITY_INSERT [dbo].[viaturas] ON 

INSERT [dbo].[viaturas] ([id], [matricula], [marca], [modelo], [tipo_viatura_id], [base_id], [estado], [quilometragem], [created_at], [updated_at]) VALUES (1, N'MX-20-25', N'Toyota', N'Land Cruiser', 1, 1, N'Inoperacional', 0, CAST(N'2026-01-02T16:23:15.487' AS DateTime), CAST(N'2026-01-02T17:34:42.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[viaturas] OFF
GO
SET IDENTITY_INSERT [dbo].[viaturas_missao] ON 

INSERT [dbo].[viaturas_missao] ([id], [missao_id], [viatura_id], [condutor_id], [created_at]) VALUES (1, 1, 1, NULL, CAST(N'2026-01-02T17:33:58.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[viaturas_missao] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__bases_mi__40F9A2062CCF1114]    Script Date: 02/01/2026 18:35:43 ******/
ALTER TABLE [dbo].[bases_militares] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__militare__DF97D0E80AF2D2D3]    Script Date: 02/01/2026 18:35:43 ******/
ALTER TABLE [dbo].[militares] ADD UNIQUE NONCLUSTERED 
(
	[nip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__utilizad__AB6E6164F1ACC12F]    Script Date: 02/01/2026 18:35:43 ******/
ALTER TABLE [dbo].[utilizadores] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__viaturas__30962D15973D8748]    Script Date: 02/01/2026 18:35:43 ******/
ALTER TABLE [dbo].[viaturas] ADD UNIQUE NONCLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[abastecimentos] ADD  DEFAULT (getdate()) FOR [data_abastecimento]
GO
ALTER TABLE [dbo].[abastecimentos] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[auditoria_acessos] ADD  DEFAULT (getdate()) FOR [data_hora]
GO
ALTER TABLE [dbo].[bases_militares] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[documentos_viatura] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[fornecedores_combustivel] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[manutencoes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[militares] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[missoes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ocorrencias] ADD  DEFAULT (getdate()) FOR [data_ocorrencia]
GO
ALTER TABLE [dbo].[ocorrencias] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[oficinas] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[patentes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[perfis] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tipos_combustivel] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tipos_documento] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tipos_viatura] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[utilizadores] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[utilizadores] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[viaturas] ADD  DEFAULT ('Operacional') FOR [estado]
GO
ALTER TABLE [dbo].[viaturas] ADD  DEFAULT ((0)) FOR [quilometragem]
GO
ALTER TABLE [dbo].[viaturas] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[viaturas_missao] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[abastecimentos]  WITH CHECK ADD FOREIGN KEY([fornecedor_id])
REFERENCES [dbo].[fornecedores_combustivel] ([id])
GO
ALTER TABLE [dbo].[abastecimentos]  WITH CHECK ADD FOREIGN KEY([tipo_combustivel_id])
REFERENCES [dbo].[tipos_combustivel] ([id])
GO
ALTER TABLE [dbo].[abastecimentos]  WITH CHECK ADD FOREIGN KEY([viatura_id])
REFERENCES [dbo].[viaturas] ([id])
GO
ALTER TABLE [dbo].[auditoria_acessos]  WITH CHECK ADD FOREIGN KEY([utilizador_id])
REFERENCES [dbo].[utilizadores] ([id])
GO
ALTER TABLE [dbo].[documentos_viatura]  WITH CHECK ADD FOREIGN KEY([tipo_documento_id])
REFERENCES [dbo].[tipos_documento] ([id])
GO
ALTER TABLE [dbo].[documentos_viatura]  WITH CHECK ADD FOREIGN KEY([viatura_id])
REFERENCES [dbo].[viaturas] ([id])
GO
ALTER TABLE [dbo].[manutencoes]  WITH CHECK ADD FOREIGN KEY([oficina_id])
REFERENCES [dbo].[oficinas] ([id])
GO
ALTER TABLE [dbo].[manutencoes]  WITH CHECK ADD FOREIGN KEY([viatura_id])
REFERENCES [dbo].[viaturas] ([id])
GO
ALTER TABLE [dbo].[militares]  WITH CHECK ADD FOREIGN KEY([patente_id])
REFERENCES [dbo].[patentes] ([id])
GO
ALTER TABLE [dbo].[missoes]  WITH CHECK ADD FOREIGN KEY([oficial_responsavel_id])
REFERENCES [dbo].[militares] ([id])
GO
ALTER TABLE [dbo].[ocorrencias]  WITH CHECK ADD FOREIGN KEY([missao_id])
REFERENCES [dbo].[missoes] ([id])
GO
ALTER TABLE [dbo].[ocorrencias]  WITH CHECK ADD FOREIGN KEY([viatura_id])
REFERENCES [dbo].[viaturas] ([id])
GO
ALTER TABLE [dbo].[utilizadores]  WITH CHECK ADD FOREIGN KEY([perfil_id])
REFERENCES [dbo].[perfis] ([id])
GO
ALTER TABLE [dbo].[viaturas]  WITH CHECK ADD FOREIGN KEY([base_id])
REFERENCES [dbo].[bases_militares] ([id])
GO
ALTER TABLE [dbo].[viaturas]  WITH CHECK ADD FOREIGN KEY([tipo_viatura_id])
REFERENCES [dbo].[tipos_viatura] ([id])
GO
ALTER TABLE [dbo].[viaturas_missao]  WITH CHECK ADD FOREIGN KEY([condutor_id])
REFERENCES [dbo].[militares] ([id])
GO
ALTER TABLE [dbo].[viaturas_missao]  WITH CHECK ADD FOREIGN KEY([missao_id])
REFERENCES [dbo].[missoes] ([id])
GO
ALTER TABLE [dbo].[viaturas_missao]  WITH CHECK ADD FOREIGN KEY([viatura_id])
REFERENCES [dbo].[viaturas] ([id])
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistarOcorrencia]    Script Date: 02/01/2026 18:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 3. STORED PROCEDURE (Obrigatória)
-- =============================================
CREATE PROCEDURE [dbo].[sp_RegistarOcorrencia]
    @ViaturaID INT,
    @Descricao VARCHAR(MAX),
    @Gravidade VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO ocorrencias (viatura_id, descricao, gravidade, data_ocorrencia)
    VALUES (@ViaturaID, @Descricao, @Gravidade, GETDATE());

    IF @Gravidade = 'Alta'
    BEGIN
        UPDATE viaturas SET estado = 'Inoperacional', updated_at = GETDATE()
        WHERE id = @ViaturaID;
    END
END;
GO
USE [master]
GO
